.searchBox{
    position: fixed;
    left: 700px;
    top: 100px;
    border-radius: 16px;
    padding: 16px;
    background-color: rgb(213, 194, 28);
}

.searchMessage{
    position: fixed;
    left: 100px;
    top: 100px;
}