<!-- <p>modify-content works!</p> -->

<h1>
    Add New Chesss Game
  </h1>
  <p>
    <label>
      Title: <input [(ngModel)]="newContentItem.title">
    </label>
    <label>
      Description: <input [(ngModel)]="newContentItem.description">
    </label>
    <label>
      Author: <input [(ngModel)]="newContentItem.author">
    </label>
    <label>
      Image Source URL: <input [(ngModel)]="newContentItem.imgSrc">
    </label>
    <label>
      Chess Game Type <input [(ngModel)]="newContentItem.type">
    </label>
    <label>
      Tags (comma separated) <input [(ngModel)]="tagsToBeParsed">
    </label>
  </p>
  <p>
   <button (click)="addContent()">Add Content</button>
 </p>
 <p class="success-message" *ngIf="contentAddedSucessfully">
   Content Successfully Added!
 </p>