<!-- <p>modify-content works!</p> -->

  <h1>
    *ngIf="(newContentItem.id ?? -1) >= 0; else addNewTitle">
    Edit Chesss Game
  </h1>
  <ng-template #addNewTitle>
    <h1>
      Add New Chess Game
    </h1>
  </ng-template>
  <p>
    <label *ngIf="(newContentItem.id ?? -1) >= 0">
      ID: <input disabled [(ngModel)]="newContentItem.id">
    </label>
    <label>
      Title: <input [(ngModel)]="newContentItem.title">
    </label>
    <label>
      Description: <input [(ngModel)]="newContentItem.description">
    </label>
    <label>
      Author: <input [(ngModel)]="newContentItem.author">
    </label>
    <label>
      Image Source URL: <input [(ngModel)]="newContentItem.imgSrc">
    </label>
    <label>
      Chess Game Type <input [(ngModel)]="newContentItem.type">
    </label>
    <label>
      Tags (comma separated) <input [(ngModel)]="tagsToBeParsed">
    </label>
  </p>
  <p>
    <button *ngIf="(newContentItem.id ?? -1) >= 0;
      else editButton" (click)="editContent()">
      Edit Content
    </button>
    <ng-template #editButton>
      <button (click)="addContent()">Add Content</button>
    </ng-template>
  </p>

  <p class="success-message" *ngIf="contentAddedSucessfully">
    Content Successfully Added!
  </p>

  <p class="success-message" *ngIf="contentEditedSuccessfully">
    Content Successfully Edited!
    <a [routerLink]="['/content', newContentItem.id ?? 0]">
      Back to Detail
    </a>
  </p>
