:host {
    display: flex;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 10px;
    width: 400px;
    margin-left: 450px;
    margin-top: 200px;
    padding: 26px;
    display: inline-block;
    background: linear-gradient(to bottom, #40b3e4, #e0e0e0);
  }

  img {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
  }

  .back-to-list{
   position: fixed;
   left: 100px;
   top: 100px;
   border-radius: 16px;
   padding: 16px;
   background-color: rgb(213, 194, 28);
   display: inline-block;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   border: 10px solid #095115;
   text-decoration: none;
   color: #000000;
  }

  .previous-detail{
    position: fixed;
    right: 200px;
    top: 100px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border: 10px solid #113911;
    border-radius: 16px;
    background-color: #adca27;
  }

  .previous-detail:hover{
    background-color: #f2f22f;
  }

  .edit-detail{
    position: fixed;
    right: 700px;
    top: 100px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border: 10px solid #113911;
    border-radius: 16px;
    background-color: #e09c4f;
  }
